body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fb-button{
  font-size: inherit;
  width: 340px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #3b5998;
  padding: 10px 30px;
  margin-bottom: 25px;
}

.react-tagsinput input {
  outline: none;
  border: none;
}
